/Gentetic/nbproject/private/
/Gentetic/build/
Gentetic/build.xml
Gentetic/manifest.mf
Gentetic/nbproject/build-impl.xml
Gentetic/nbproject/genfiles.properties
Gentetic/nbproject/project.properties
Gentetic/nbproject/project.xml
